<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicketBooking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>364E43F91E3E3753004B789E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364E44101E3E3753004B789E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364E441B1E3E3753004B789E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
